body {
    background: #333;
}

.container {
    width: 1024px;
    margin: 0 auto;
}
* {
  font-family: 'Press Start 2P', cursive;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#game-menu{
  position: absolute;
  display: block;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-image: url('city.png');
  background-size: cover;
  height: 640px;
  width: 1024px;
}
#game-title{
  font-size: 64px;
  padding-top: 150px;
  color: #e92fd7;
}
#play{
  padding-top: 50px;
}
#game-over, #game-options, #game-scores{
  position: absolute;
  display: none;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  height: 640px;
  width: 1024px;
}
#game-over>h1, #game-options>h1, #game-scores>h1{
  font-size: 64px;
  padding-top: 150px;
  color: #e92fd7;
}
#game-menu>h2, #game-over>h2, #game-options>h2, #game-scores>h2{
  font-size: 48px;
}
.back-to-menu, #game-menu>h2:hover, #game-over>h2:hover, #game-options>h2:hover{
  color: #e92fd7;
  cursor: pointer;
}
canvas{
  background-color: gray;
}
